Instruções

- Façam grupos até 4 alunos  (não, não pode ser mais e não precisa ser o mesmo do outro trabalho).
- Escolham uma base de dados e apliquem  ao menos uma das técnicas vistas neste curso
- Postem nessa tarefa quem são os alunos componentes do grupo, ao menos uma amostra da base escolhida com os respectivos metadados.
- Pode ser uma base de outro trabalho de vocês ou uma base pública, desde que essa base não seja "óbvia" (tipo o Titanic). Outra observação, embora o grupo possa usar base pública, a análise deve ser feita pelo grupo com os códigos etc.. Se o trabalho apresentado for identificado como uma cópia de um trabalho publicado o grupo tira 0.
- Apresentação em power point de 15 a 30 minutos, explicando o intuito da análise, o desenvolvimento, os achados e conclusões. Também devo receber a base e o código usado para fazer a análise (vocês podem utilizar outra ferramenta diferente do python).

### Grupo
- Gustavo Schlieper Tessitore
- Lucas Lopes Amorim

### Objetivo
Nesta competição, você irá prever as vendas para as milhares de famílias de produtos vendidos nas lojas Favorita localizadas no Equador.
 Os dados de treinamento incluem:

### Base de dados
- [Vendas no varejo](https://www.kaggle.com/competitions/store-sales-time-series-forecasting)
Colunas da base de dados:
- `store_nbr`: O número da loja onde o produto foi vendido
- `family`: A família de produtos a que o produto pertence
- `sales`: O valor de venda
- `onpromotion`: Quantidade de produtos vendidos em promoção dentro da família
- `date`: A data em que o produto foi vendido

In [4]:
# convertendo o arquivo train.csv para parquet
import pandas as pd
import numpy as np

df = pd.read_csv('store-sales-time-series-forecasting/train.csv')
df.to_parquet('store-sales-time-series-forecasting/train.parquet')
df

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,1,2013-01-01,1,BABY CARE,0.000,0
2,2,2013-01-01,1,BEAUTY,0.000,0
3,3,2013-01-01,1,BEVERAGES,0.000,0
4,4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0